* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#header{
    padding: 0;
    position: sticky;
    top: 0;
    background-color: #ffffff;

}
#divlogo {
    background-color: #ffffff;
    display: flex;
    width: 18%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
#divlogo img {
    width: 60%;
    height: 100%;
    max-height: 70px;
    max-width: 60px;
}

#navbar{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 1%;
}

#reiki, #historia, #inicio, #sobremi {
    border-radius: 2%;
    width: 100%;
    background-color: rgba(185, 247, 189, 0.75);
}

#inicio p, #reiki p, #historia p, #sobremi p {
    padding: 2%;
    margin-left: 0px;
    font-size: 18px;
}

.boton{
    background-color: #cac2ed;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    border-radius: 5%;
    margin: 1% 1%;
    padding: 1%;
}
.boton a{
    text-decoration: none;
    color: inherit;
}
.boton:hover {
        background-color: rgba(111, 173, 193, 0.5);
        border-color: rgb(111, 173, 193);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.25);
        transition: transform 0.2s ease-in-out;
    }


#main {
    background-color: rgba(185, 247, 189, 0.60);
    width: 80%;
    padding:1%;
    flex-direction: column;
    }

#contenedor_logo {
    background-color: rgba(185, 247, 189, 0.75);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

#inicio, #reiki, #servicios, #historia, #beneficios, .beneficio{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 1%;
    margin: 1% auto;
    scroll-margin-top: 70px;
}

h1{
    width:100%;
    text-align: center;
    margin-top: 1%;
    font-size: 2em;
}

h2{
    width:100%;
    text-align: center;
    margin-top: 1%;
    font-size: 1.6em;
}
.texto_sections{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:300;
    line-height: 1.5em;
    width: 100%;
    margin: 1% 1%;
    text-align: justify;
    color: #000000;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.maestros{
    display: flex;
    flex-direction: row;
    width: 100%;
}
div.maestros img{
    width: auto;
    height: 230px;
    margin: 1%;
    padding: 1%;
}
.texto_maestros{
    padding: 1%;
    justify-content: center;
    align-content: center;
}

#contenedor_beneficios{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

#contenedor_beneficios:hover {
    transition: 0.4s;
}

#relajacion, #equilibrio, #sanacion, #claridad, #emociones{
    width: 80%;
    height: 2.5rem;
    border: solid, #6c9ec6;
    border-radius: 5%;
    margin: 1.5%;
    align-items: center;
}

#relajacion:hover, #equilibrio:hover, #sanacion:hover, #claridad:hover, #emociones:hover{
    background-color: #6c9ec6;
    color: white;
    width: 100%;
    transform: scale(1.25);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.4s;
}
.masinfo_relajacion,.masinfo_equilibrio,.masinfo_claridad, .masinfo_emociones, .masinfo_sanacion{
    display: none;
}
.contenedor_masinfo{
    padding: 3%;
}

#relajacion_mas,#equilibrio_mas, #sanacion_mas, #claridad_mas, #emociones_mas{
    display:none;
    border-radius: 5%;
    background-color: #d0e6f7;
    color: white;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 10% auto;

}
.cerrar{
    width: 10%;
    height: fit-content;
    display: flex;
    object-fit: contain;
    margin: 1%;
    padding: 0;
}
.cerrar img{
    width: 100%;
    height: fit-content;
    object-fit: contain;
}


.cerrar:hover{
    transition: 0.5s;
    transform: scale(1.25);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.mari{
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 1% auto;
    scroll-margin-top: 70px;
}

#sobremi img{
    width: 30%;
    height: 200px;
    object-fit: cover;
    margin: 1%;
    padding: 1%;
    border: dotted 2px;
    align-self: self-start;
}

#ubicacionfooter{
    margin: 5% auto;
    flex-direction: column;
    height: 75%;
    object-fit: contain;
}
#redes_contacto{
    width: 50%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    height: 75%;
    object-fit: contain;
    align-items: center;
    padding: 3% 0;
}

.ubicacionfooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    align-items: center;
    text-align: left;
    margin: 10% auto;
}
.ubicacionfooter p{
    width: 100%;
}
.footer{
    width: 80%;
    display: flex;
}

.facebook,.gmail,.instagram{
    width: 80%;
    height: 20%;
    margin: 1% auto;
}


.logo_facebook {
    margin-top: 23%;
    width: 70%;
    height: 600%;
    object-fit: contain;
}
.logo_gmail, .logo_instagram{
    margin-top: 44%;
    width:70%;
    height: 600%;
    object-fit: contain;
}

.logo_facebook:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.logo_gmail:hover, .logo_instagram:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

#container_direccion {
    width: 100%;
}

#container_contacto {
    width: 100%;
}

#puntos {
    font-size: 52px;
    width: 100%;
}

#footer {
    width: 80%;
}

footer {
    align-items: center;
    display: flex;
    background-color: #a3cbec;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%; 
    height: auto;
}
.copyrigth{
    margin-top: 0;
    margin-bottom: 2%;
    padding: 0;
    text-align: center;
}

/*Metaqueries
 *
 * 1. Tablets (��768px)
 * 2. Mobile (��480px)
 * 3. Large screens (��1200px) Por defecto
 */

@media (min-width: 481px) and (max-width: 768px) {
    /* Tus estilos exclusivos para tablets */
    .boton{
    width: 5.25rem;
    }
    #main{
        width: 100%;
    }
    .texto_maestros, .texto_sections{
        width: 100%;
        font-size: 1rem;
        padding: 3%;
    }
    div.maestros img{
        width: 20%;
        height: 20%;
        margin: 1%;
        padding: 1%;
    }
    .mari{
        margin: 1%;
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        padding: 1%;
        scroll-margin-top: 70px;
    }

    #texto_sobremi img{
        height: 125px
    }

    .footer{
        flex-direction: column;
        width: 100%;
    }
    #redes_contacto{
        flex-direction: row;
        max-height: 5rem;
            width: 100%;
    }
    #ubicacionfooter{
        width: 100%;
        margin: 0;
        padding: 3%;
    }
    #ubicacionfooter iframe{
        width: 100%;
    }
    #logo_redes{
        justify-content: center;
        width: 60%;
        padding: 8%;
    }
}

@media (min-width: 0px) and (max-width: 480px) {
    #navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 90%;
    }

    #divlogo {
        display: none;
    }

    #navbar div a {
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    #reiki, #historia, #inicio, #sobremi {
        width: 97%;
    }
    
    #inicio p, #reiki p, #historia p, #sobremi p, #beneficios p {
        width: 96%;
        font-size: 13px;
        text-align: left;
    }
    
    .boton{
        width: 90%;
        height: 1.5rem;
    }

    .boton:hover {
            transform: scale(1);
        }
    
    h1{
        font-size: 1.5em;
    }
    
    h2{
        font-size: 1.2em;
    }

    div.maestros img {
        display: flex;
        height: 60px;
    }

    #maestrouno img, #maestrodos img, #maestrotres img {
        float: left;
    }
    
    #maestrouno p, #maestrodos p, #maestrotres p {
        text-align: left;
        width: 100%;
    }

    #contenedor_beneficios{
        display: none;
    }
    
    }
    #sobremi{
        flex-direction: column;
    }
    
    #sobremi img{
        border: none;
        object-fit: contain;
        width: 100%;
        margin: 1%;
        padding: 1%;
        align-self: self-start;
    }
    
    #ubicacionfooter{
        margin: 5% auto;
        flex-direction: column;
        height: 75%;
        object-fit: contain;
    }
    #redes_contacto{
        width: 50%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        height: 75%;
        object-fit: contain;
        align-items: center;
        padding: 3% 0;
    }
    
    .ubicacionfooter{
        width: 100%;
        display: flex;
        flex-direction: column;
        object-fit: contain;
        align-items: center;
        text-align: left;
        margin: 10% auto;
    }
    .ubicacionfooter p{
        width: 100%;
    }
    .footer{
        width: 80%;
        display: flex;
    }
    
    .facebook,.gmail,.instagram{
        width: 80%;
        height: 20%;
        margin: 1% auto;
    }
    
    
    .logo_facebook {
        margin-top: 23%;
        width: 70%;
        height: 600%;
        object-fit: contain;
    }
    .logo_gmail, .logo_instagram{
        margin-top: 44%;
        width:70%;
        height: 600%;
        object-fit: contain;
    }
    
    .logo_facebook:hover {
        transition: 0.5s;
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .logo_gmail:hover, .logo_instagram:hover {
        transition: 0.5s;
        transform: scale(1.15);
        cursor: pointer;
    }
    
    #container_direccion {
        width: 100%;
    }
    
    #container_contacto {
        width: 100%;
    }
    
    #puntos {
        font-size: 52px;
        width: 100%;
    }
    
    #footer {
        width: 80%;
    }
    
    footer {
        align-items: center;
        display: flex;
        background-color: #a3cbec;
        color: white;
        padding: 10px;
        text-align: center;
        width: 100%; 
        height: auto;
    }
    .copyrigth{
        margin-top: 0;
        margin-bottom: 2%;
        padding: 0;
        text-align: center;
    }